#go-board {
  margin-bottom: 30px;
  font-size: 0;
}

i {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: left;
}

/* 白棋 */
i.w,
i.w::before,
i.w::after {
  background-color: #f00;
  border-color: #f00;
}

/* 黑棋 */
i.b,
i.b::before,
i.b::after {
  background-color: #333;
}
/* - 横线 */
i::before,
i::after {
  content: ' ';
  position: absolute;
  top: 1rem;
  width: 2rem;
  height: 0;
  border-top: 1px solid #333;
}
/* | 竖线 */
i::after {
  top: 0;
  right: 1rem;
  width: 0;
  height: 2rem;
  border-top: 0 none;
  border-right: 1px solid #333;
}

.chess-spinner {
  display: inline-block;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 3s linear infinite;
  animation: spinner-grow 3s linear infinite;
}

@media (min-width: 200px) and (max-width: 500px) {
  i {
      position: relative;
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      cursor: pointer;
      text-align: left;
    }
    /* 白棋 */
    i.w,
    i.w::before,
    i.w::after {
      background-color: #f00;
      border-color: #f00;
    }
    
    /* 黑棋 */
    i.b,
    i.b::before,
    i.b::after {
      background-color: #333;
    }
    /* - 横线 */
    i::before,
    i::after {
      content: ' ';
      position: absolute;
      top: 0.6rem;
      width: 1.2rem;
      height: 0;
      border-top: 1px solid #333;
    }
    /* | 竖线 */
    i::after {
      top: 0;
      right: 0.6rem;
      width: 0;
      height: 1.2rem;
      border-top: 0 none;
      border-right: 1px solid #333;
    }
}